<div class="row">
    <div class="panel panel-default panel-table">
        <div class="panel-heading">
            <div class="row">
                <div class="col col-md-6">
                    <h2 class="panel-title text-primary"><i class="fa fa-users"></i> Управление персоналом</h2>
                    @{
                        if (!string.IsNullOrEmpty(ViewBag.ErrorMessage))
                        {
                            <span class="text-danger">@ViewBag.ErrorMessage</span>
                        }
                    }
                </div>
                <div class="col col-md-6 text-right">
                    <div class="inner-addon right-addon search-icon pull-left">
                        <i class="fa fa-search "></i>
                        <input type="text" data-action="filter" data-filters="#tbl-staff" placeholder="Поиск по всей таблице" class="form-control search-box" />
                    </div>
                    <button type="button" class="btn btn-sm btn-default" onclick="window.location.href = '/'"><i class="fa fa-refresh"></i> Обновить</button>
                    <button type="button" class="btn btn-sm btn-success edit-item-link" data-id="-1"><i class="fa fa-user-plus"></i> Новый сотрудник</button>
                </div>
            </div>
        </div>
        <div id="tablecontext">
            @{
                Html.RenderAction("GetStaffData");
            }
        </div>
    </div>
    <div id="dialogcontext"></div>
</div>
<script src="~/Scripts/js/staffJs.js"></script>